---
 import content from '../content/siteContent.json';

 const nav = content.site.nav;
---

<header>
	<nav>
		<a href="/">{content.site.brand.name}</a>
		<ul>
			{nav.items.map((item) => (
				<li>
					<a
						href={item.href}
						target={item.href.startsWith('http') ? '_blank' : undefined}
						rel={item.href.startsWith('http') ? 'noopener noreferrer' : undefined}
					>
						{item.label}
					</a>
				</li>
			))}
		</ul>
		<a href={nav.languageToggle.href}>{nav.languageToggle.label}</a>
	</nav>
</header>
